<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>logPointFilter</key>
	<string>=INFO</string>
	<key>STEBackwardCompatibleModel</key>
	<string>MyDocument.momd/MyDocument-v.1.0.4.mom</string>
	<key>STEBackwardCompatibleVersionSuffix</key>
	<string>-1.0.52.magic</string>
	<key>STECanvasMasked</key>
	<false/>
	<key>STECanvasMaskOpacity</key>
	<real>0.3</real>
	<key>STECanvasShowsPageBorder</key>
	<false/>
	<key>STECanvasShowsStageBorder</key>
	<true/>
	<key>STEConsistencyCheckOrphan</key>
	<string>run fix !ask !show !send</string>
	<key>STEConsistencyCheckOrphanRelations</key>
	<dict>
		<key>ActivationEvent</key>
		<string>playable</string>
		<key>Asset</key>
		<string>scene</string>
		<key>Keyframe</key>
		<string>keyframeAnimation</string>
		<key>KeyframeAnimation</key>
		<string>asset</string>
		<key>Scenario</key>
		<string>stage</string>
		<key>Scene</key>
		<string>scenario</string>
		<key>Transition</key>
		<string>scene</string>
	</dict>
	<key>STEDefaultRenderQuality</key>
	<integer>90</integer>
	<key>STEDeveloperMailAddress</key>
	<string></string>
	<key>STEExportDefaultDateBehaviour</key>
	<string>0</string>
	<key>STEFramesPerSecond</key>
	<integer>25</integer>
	<key>STENumberOfFramesAroundPlayheadForProgrammaticMoves</key>
	<integer>10</integer>
	<key>STEPrettyPrintXML</key>
	<false/>
	<key>STEPreviewFPSMultiplier</key>
	<integer>1</integer>
	<key>STEShowAssetURLSNotPublicWarning</key>
	<false/>
	<key>STEShowNewDocumentWizard</key>
	<true/>
	<key>STEShowSplashScreen</key>
	<false/>
	<key>STEStageSizePresets</key>
	<array>
		<dict>
			<key>height</key>
			<integer>198</integer>
			<key>name</key>
			<string>Minimal</string>
			<key>width</key>
			<integer>768</integer>
		</dict>
		<dict>
			<key>height</key>
			<integer>350</integer>
			<key>name</key>
			<string>Zwischengröße</string>
			<key>width</key>
			<integer>768</integer>
		</dict>
		<dict>
			<key>height</key>
			<integer>511</integer>
			<key>name</key>
			<string>Maximal</string>
			<key>width</key>
			<integer>768</integer>
		</dict>
		<dict>
			<key>height</key>
			<integer>1024</integer>
			<key>name</key>
			<string>Vollbild</string>
			<key>width</key>
			<integer>768</integer>
		</dict>
	</array>
	<key>STETimeScrubberShowsTime</key>
	<true/>
	<key>STEUseImageMagick</key>
	<true/>
</dict>
</plist>
