<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>transitionToNext</key>
		<dict>
			<key>persistentProperties</key>
			<dict>
				<key>offset</key>
				<real>0.5</real>
			</dict>
			<key>#entityName</key>
			<string>Transition</string>
			<key>backgroundColor</key>
			<string>#0000FFFF</string>
		</dict>
		<key>#entityName</key>
		<string>Scene</string>
		<key>name</key>
		<string>Neue Szene</string>
	</dict>
</array>
</plist>
