table.data {
    width: 100%;
    border-collapse: collapse;
}

table.data td,table.data th {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 2px;
    padding-right: 2px;
    margin-bottom: 4px;
    border-style: solid;
    border-width: 0px;
    border-color: #aaaaaa;
    text-align: left;
}

table.data th {
    background-color: #999;
    color: #fff;
    font-weight: bold;
}

table.table-alt tr.odd td {
    background-color: #eee;
}

table.table-linesh td,table.table-linesh th {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

table.table-linesv td,table.table-linesv th {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

table.table-alignright td,table.table-alignright th {
    text-align: right;
}

table.table-fontsm td,table.table-fontsm th {
    font-size: 9px;
}